/* Show it is fixed to the top */
body {
    min-height: 75rem;
}

.nav-link {
    color:white;
}

.navbar-brand {
    color:white;
}

.navbar-toggler {
    color: white;
}

.navbar-collapse {
    color:white;
}

.navbar {
    -webkit-box-shadow: 0 9px 6px -6px #999;
    -moz-box-shadow: 0 9px 6px -6px #999;
    box-shadow: 0 9px 6px -6px #999;
    z-index: 10;

    /* the rest of your styling */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6vw;
    font-weight: bold;
    text-shadow: 6px 3px 9px #282828;
}