{% extends "navBar.html" %}
{% block content %}
<div style="background-color: #f4f4ed; width: 100%;">
<div style="padding-left: 15%; padding-top: 50px">
<div class="row">
    <div class="col-4">
        <p>Aims:</p>
        At Ideal, we believe that the sustainable use of natural resources is a crucial foundation for the long-term preservation of our planet. Costumers are being provided with a platform through which the amount of food wasted within a household can be minimised.
        The level of human waste production has reached a worryingly highly level, especially when hundreds of millions lack the resources necessary. Food is no exemption. As a result, a massive burden was created on the economic and environmental systems which seems to have a potentially imminent impact social systems.
        Our vision: A world in which today’s excessive usage of water, energy, naturals resources and plastics is minimised, or optimised so it is sustainable. Therefore, we believe we can change how an everyday household manages and monitors the content of its fridge.
        The world’s population has already exceeded 7 billion and according to estimates it will surpass 9 billion by 2050. This will result in a 50-70% increase in demand for food and other resources. We are on a terrible trajectory, especially considering the fact that there is 868 million people already in scarcity of food.
        Our mission: To create a world in which beside price, quality and convenience, an urge for individual contribution is also driving the way in which people make decisions. Moreover, to create a sustainable and environmental friendly future in which food security and the reduction of human footprint is in accessible proximity.

    </div>
    <div class="col-4">
    </div>
</div>

<div class="row" style="margin-top: 50px">
    <div class="col-4">
       <p>Activities:</p>
            The implementation of Ideal fits the expectations of the 21st century. It is simple, sophisticated and easy to use and only require a smartphone.
            Also, it raises awareness about the importance of the collective decision making and the huge impact it can have in the process of tackling climate change. A well-planned strategy can lift the burden on natural resources, energy and landfill.

    </div>
    <div class="col-4">
    </div>
</div>

<div class="row" style="margin-top: 50px">
    <div class="col-4">
        <p>Our Team:</p>
        Our team is made up of four undergraduate university students pursuing degrees in Computer Science, Physics and Chemistry. Please contact us via email: ideal@ideal.com

    </div>
    <div class="col-4">
    </div>
</div>
</div>
</div>
{% endblock %}