<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link href="css/basic.css" rel="stylesheet">
    <link href="css/bootstrap-grid.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-reboot.min.css" rel="stylesheet">
</head>
<body style="background-color: white; min-height: 100%">
<nav class="navbar navbar-expand-lg navbar-dark col-12" style="background-color: #629460;">
    <a class="navbar-brand" href="#">Name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">About us<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Food waste</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">How to use</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Partner with us</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <ul  class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Sign in<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>



<div style="background-color: #f4f4ed; width: 100%">
    <div class="col-8"style="background-color: #6c757d">
        <p>Aims:</p>
        At Ideal, we believe that the sustainable use of natural resources is a crucial foundation for the long-term preservation of our planet. Costumers are being provided with a platform through which the amount of food wasted within a household can be minimised.
        The level of human waste production has reached a worryingly highly level, especially when hundreds of millions lack the resources necessary. Food is no exemption. As a result, a massive burden was created on the economic and environmental systems which seems to have a potentially imminent impact social systems.
        Our vision: A world in which today’s excessive usage of water, energy, naturals resources and plastics is minimised, or optimised so it is sustainable. Therefore, we believe we can change how an everyday household manages and monitors the content of its fridge.
        The world’s population has already exceeded 7 billion and according to estimates it will surpass 9 billion by 2050. This will result in a 50-70% increase in demand for food and other resources. We are on a terrible trajectory, especially considering the fact that there is 868 million people already in scarcity of food.
        Our mission: To create a world in which beside price, quality and convenience, an urge for individual contribution is also driving the way in which people make decisions. Moreover, to create a sustainable and environmental friendly future in which food security and the reduction of human footprint is in accessible proximity.

    </div>
    <!--<div class="centered">Time to think about reducing food waste</div>-->
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/basic.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
</body>
</html>