{% extends "sideNav.html" %}
{% block content %}
    <!-- product -->
    {% if foods %}
    {% for food in foods %}
        <div class="col-7 post">
            <div class="row" style="height: 2rem; background-color: #629460;">
                <p style="margin: auto;font-size: 1.5rem;font-weight: bold;color: white;">{{ food.name }}</p>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='assets/product.jpg') }}" alt="Food"
                         style="width: 80%; border-radius: 50%; margin-top: 10px">
                </div>
                <div class="col-8" style=" margin-top: 10px">
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p>CO2 emission: {{ food.co2_emission_base }} g per serving</p>
                        </div>
                        <div class="col-4">
{#                            <p>Country of Origin : {{ food.country_of_origin }}</p>#}
                            <p>Country of Origin : Spain</p>
                        </div>
                        <div class="col-4">
{#                            <p>Barcode : {{ food.barcode }}</p>#}
                            <p>Barcode : 657354384</p>
                        </div>
                    </div>
                     <div class="row">
                        {#                    <div class="col-6">#}
                        {#                        <p>Expiry date: 30 January 2019</p>#}
                        {#                    </div>#}
                        <div class="col-12">
                            <p>Expiry Advice : {{ food.expiry_advice }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>{% endfor %}{% else %}
        <h2>No food found :-(</h2>
    {% endif %}
{% endblock %}